/*
Change css to suit your needs
*/
* {
  padding: 0;
  margin: 0 auto;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 200px;
  background-color: #90FEFB;
  font-family: 'Taviraj', serif;
  color: #353F3E;
}
.title-lrg {
  font-size: 64px;
  font-weight:200;
}
.title-med {
  font-size: 36px;
  font-weight:200;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #353f3E;
}
